$bgColor: #1e1e1e;
$borderColor: #3c363a;
$color: #00f100;
$terminalButtonGreen: #00df23;
$terminalButtonYellow: #f5be07;
$terminalButtonRed: #f43148;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.greenCircle {
  width: 20px;
  height: 20px;
  background: $terminalButtonGreen;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin: 5px;
}
.yellowCircle {
  width: 20px;
  height: 20px;
  background: $terminalButtonYellow;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin: 5px;
}
.redCircle {
  width: 20px;
  height: 20px;
  background: $terminalButtonRed;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin: 5px;
}

.App {
  width: 100vw;
  height: 100vh;
  color: $color;
  background-color: $bgColor;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.exprContainer {
  height: 50px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
::-webkit-scrollbar {
  display: none;
}
.Terminal {
  margin: 20px;
  border: 1px $borderColor solid;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
}

.terminalHeader {
  height: 40px;
  width: 100%;
  background-color: $borderColor;
  display: flex;
  flex-direction: row;
  padding-left: 5px;
  padding-top: 5px;
}

.terminalInput {
  width: 100%;
  background-color: $bgColor;
  border: none;
  outline: none;
  color: $color;
}

.mainTerminalContainer {
  padding: 10px;
}

.inputRow {
  display: flex;
  flex-direction: row;
}

.pathP {
  white-space: nowrap;
}
